.search_bar_global {
    border: 1px solid #e3e3e3;
    padding-left: 1rem;
    box-shadow: none;
    border-radius: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.search_input_global {
    border: none;
    outline: none;
    width: 100%;
}
