
.player_beta_drop {
    position: absolute;
    bottom: 70px;
    width: 300px;
    transform: translateX(-85%);
    border-radius: var(--border-radius);
    transition: height var(--speed) ease;
    overflow: hidden;
  }
  
  .menu_beta_drop {
    width: 100%;
  }
  
  .menu_item_beta_drop {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menu_item_beta_drop .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu_item_beta_drop .icon-button:hover {
    filter: none;
  }