
/* CSSTransition classes  */
.post_audience_modal-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .post_audience_modal-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .post_audience_modal-exit {
    position: absolute;
  }
  .post_audience_modal-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }


.post_feelings_modal-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .post_feelings_modal-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .post_feelings_modal-exit {
    position: absolute;
  }
  .post_feelings_modal-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .post_main_modal-enter {
    transform: translateX(110%);
  }
  .post_main_modal-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .post_main_modal-exit {
  
  }
  .post_main_modal-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }