/* CSSTransition classes  */
.delta_mainSidebar-enter {
    position: absolute;
    transform: translateX(110%);
  }
  .delta_mainSidebar-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_mainSidebar-exit {
    
  }
  .delta_mainSidebar-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }


.delta_sideProfile-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .delta_sideProfile-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_sideProfile-exit {
    position: absolute;
  }
  .delta_sideProfile-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }


  .delta_sideGroup-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .delta_sideGroup-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_sideGroup-exit {
    position: absolute;
  }
  .delta_sideGroup-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .delta_sideRoom-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .delta_sideRoom-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_sideRoom-exit {
    position: absolute;
  }
  .delta_sideRoom-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }


  .delta_home_chat-enter {
    position: absolute;
    transform: translateX(0%);
  }
  .delta_home_chat-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_home_chat-exit {
    z-index: -1;
  }
  .delta_home_chat-exit-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }


  .delta_home_profile-enter {
    position: absolute;
    
  }
  .delta_home_profile-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .delta_home_profile-exit {
    
  }
  .delta_home_profile-exit-active {
   
    transition: all var(--speed) ease;
  }
  