/*.......Apps Menu........*/
.dropdown_apps {
  position: absolute;
  top: 56px;
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-75%);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}
