@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --color-dark: #151C35;
  --color-secodary-dark: #464C70;
  --color-primary: #EE709D;
  --color-text: #8297E2;
  --color-light: #EBEBFB;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*.........Common............*/
@import url(common.css);
/*.........Global............*/
@import url(./global/search.css);
@import url(home.css);
/*.........Beta............*/
@import url(./beta/navbar.css);
